{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
            <!-- need two loops in this body, for some reason the code for this wasn't working, come back later --> 
        <tbody>
        </tbody>
        
        
        
    </table>
{% endblock %}